node_modules
.idea
DS_Store
.vscode
.env.local
.env
.next
__pycache__
backend/db.sqlite3
backend/core/migrations/000[2-9]_*.py
backend/*.csv
backend/*.txt
backend/core/Tests/*
!backend/core/Tests/NTX_CU0.csv
!backend/core/Tests/NTX_CU5.csv
!backend/core/Tests/NTX_PE.csv
!backend/core/Tests/NTX_KE.csv
!backend/core/Tests/NTX_LCE.csv
