absl-py==2.1.0
accelerate==0.29.3
adatest @ git+https://github.com/aayushb03/adatest_mod/
aiohttp==3.9.5
aiohttp-security==0.5.0
aiohttp-session==2.12.0
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
appnope==0.1.4
apturl==0.5.2
arch==5.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
auto_gptq==0.7.1
autocommand==2.2.2
Babel==2.14.0
backcall==0.2.0
backports.csv==1.0.7
backports.tarfile==1.1.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
bitsandbytes==0.43.0
black==23.12.1
bleach==6.1.0
blinker==1.6.2
blis==0.7.11
Brlapi==0.8.3
cachetools==5.3.1
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
channels==4.1.0
chardet==4.0.0
charset-normalizer==3.3.2
checklist==0.0.11
cheroot==10.0.0
CherryPy==18.9.0
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==3.0.0
cmake==3.29.0.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
command-not-found==0.3
confection==0.1.4
contourpy==1.1.0
cryptography==42.0.5
cupshelpers==1.0
-e git+https://github.com/NicholasCorrado/DataAugmentationForRL.git@08fe7147a4e2d890a3f690fd2a2bcf3dcb16d07e#egg=custom_envs&subdirectory=src/custom-envs
cycler==0.11.0
cymem==2.0.8
Cython==0.29.37
datasets==2.14.5
dbus-python==1.2.18
debugpy==1.8.1
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
dill==0.3.8
diskcache==5.6.3
distlib==0.3.7
distro==1.7.0
distro-info==1.1+ubuntu0.2
Django==4.2.11
django-cors-headers==4.3.1
django-nextjs==2.4.0
django-rest-framework==0.1.0
djangorestframework==3.15.1
docker==5.0.3
docker-compose==1.29.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docstring_parser==0.16
duplicity==0.8.21
et-xmlfile==1.1.0
etils==1.7.0
exceptiongroup==1.2.1
executing==2.0.1
Farama-Notifications==0.0.4
fastapi==0.109.0
fasteners==0.19
fastjsonschema==2.19.1
feedparser==6.0.11
ffmpy==0.3.1
filelock==3.13.4
fire==0.5.0
fonttools==4.42.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.3.1
future==1.0.0
gekko==1.0.6
gitdb==4.0.10
GitPython==3.1.36
glfw==2.7.0
gradio==4.14.0
gradio_client==0.8.0
grpcio==1.62.1
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
gymnasium-robotics==1.2.4
gyp==0.1
h11==0.14.0
htcondor==23.4.0
httpcore==1.0.5
httplib2==0.20.2
httpx==0.27.0
huggingface-hub==0.22.2
humanfriendly==10.0
idna==3.7
imageio==2.34.0
importlib-resources==6.1.1
importlib_metadata==7.1.0
inflect==7.2.0
ipykernel==6.29.4
ipython==8.18.1
ipython-genutils==0.2.0
ipywidgets==8.1.2
iso-639==0.4.5
isoduration==20.11.0
jaraco.collections==5.0.1
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.3
joblib==1.4.0
json5==0.9.25
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.5
jupyter-nbextensions-configurator==0.6.3
jupyter_client==8.6.1
jupyter_contrib_core==0.4.2
jupyter_contrib_nbextensions==0.7.0
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.26.0
jupyterlab_widgets==3.0.10
keyring==23.5.0
kiwisolver==1.4.5
langcodes==3.3.0
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lit==18.1.2
llvmlite==0.42.0
lockfile==0.12.2
loralib==0.1.2
louis==3.20.0
lxml==5.2.1
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
mujoco==2.3.7
mujoco-py==2.1.2.14
multidict==6.0.5
multiprocess==0.70.15
munch==4.0.0
murmurhash==1.0.10
mypy-extensions==1.0.0
nba-api==1.2.1
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.2.1
nltk==3.8.1
notebook==6.1.5
notebook_shim==0.2.4
numba==0.59.1
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
olefile==0.46
openai==0.28.0
openpyxl==3.1.2
optimum==1.17.1
optimum-graphcore==0.3.1
orjson==3.9.10
overrides==7.7.0
packaging==24.0
panda-gym==3.0.7
pandas==2.2.2
pandocfilters==1.5.1
paramiko==2.9.3
parso==0.8.4
pathspec==0.12.1
patsy==0.5.6
patternfork_nosql==3.6
pdfminer.six==20231228
peft==0.10.0
pettingzoo==1.24.3
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.5.0
pipenv==2023.9.1
platformdirs==4.2.0
portend==3.2.0
preshed==3.0.9
profanity==1.1
prometheus_client==0.20.0
prompt-toolkit==3.0.43
property-cached==1.6.4
protobuf==4.24.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==13.0.0
pyarrow-hotfix==0.6
pybullet==3.2.6
pycairo==1.20.1
pycparser==2.22
pycups==2.0.1
pydantic==2.7.0
pydantic_core==2.18.1
pydeck==0.8.0
pydub==0.25.1
Pygments==2.17.2
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
Pympler==1.0.1
PyNaCl==1.5.0
PyOpenGL==3.1.7
pyparsing==3.0.9
PyPDF2==3.0.1
pyRFC3339==1.1
pyrsistent==0.18.1
python-apt==2.4.0+ubuntu3
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-docx==1.1.0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.6
python-utils==3.7.0
pytz==2024.1
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.27
PyYAML==6.0.1
pyzmq==26.0.2
qtconsole==5.5.1
QtPy==2.4.1
referencing==0.34.0
regex==2024.4.16
reportlab==3.6.8
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.5.3
rliable==1.0.8
rouge==1.0.1
rpds-py==0.18.0
safetensors==0.4.2
scikit-learn==1.4.2
scipy==1.13.0
screen-resolution-extra==0.0.0
seaborn==0.13.2
SecretStorage==3.3.1
semantic-version==2.10.0
Send2Trash==1.8.3
sentencepiece==0.2.0
sentry-sdk==1.39.2
setproctitle==1.3.3
sgmllib3k==1.0.0
shap==0.45.0
shellingham==1.5.4
shtab==1.7.1
six==1.16.0
slicer==0.0.7
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.5.0
-e git+https://github.com/NicholasCorrado/DataAugmentationForRL.git@08fe7147a4e2d890a3f690fd2a2bcf3dcb16d07e#egg=src
srsly==2.4.8
ssh-import-id==5.11
stable_baselines3==2.3.0
stack-data==0.6.3
starlette==0.35.1
statsmodels==0.14.1
streamlit==1.26.0
sympy==1.12
systemd-python==234
tempora==5.5.1
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
termcolor==2.4.0
terminado==0.18.1
texttable==1.6.4
thinc==8.2.3
threadpoolctl==3.4.0
tinycss2==1.2.1
tokenize-rt==5.2.0
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.0
torch==2.2.2
tornado==6.4
tqdm==4.66.2
traitlets==5.14.3
transformers==4.39.3
triton==2.2.0
typeguard==4.2.1
typer==0.9.4
types-python-dateutil==2.9.0.20240316
typing_extensions==4.11.0
tyro==0.8.3
tzdata==2024.1
tzlocal==4.3.1
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
uri-template==1.3.0
urllib3==2.2.1
usb-creator==0.3.7
utils==1.0.1
uvicorn==0.25.0
validators==0.22.0
virtualenv==20.24.4
wadllib==1.3.6
wandb==0.16.2
wasabi==1.1.2
watchdog==3.0.0
wcwidth==0.2.13
weasel==0.3.4
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.2
whitenoise==6.5.0
widgetsnbextension==4.0.10
xdg==5
xkit==0.0.0
xxhash==3.3.0
yarl==1.9.4
zc.lockfile==3.0.post1
zipp==3.18.1
